.body {
    margin: 0;
    background: var(--black-bg, #131313);
    font-family: "Inter", "EB Garamond", sans-serif;
}
p, h1, h2, h3, h4, ul {
    margin: 0;
    box-sizing: content-box;
}
.content-section {
    width: 360px;
    margin: auto;
    box-sizing: border-box;
}
.theme-dark {
    background: var(--black-bg, #131313);
}
.theme-bright {
    background: var(--yellow-bg, #FEE42A);
}
.header {
    display: flex;
    width: 360px;
    padding: 24px 20px;
    align-items:flex-start;
    gap: 168px;
    flex-shrink: 0;
}
.logo-image {
    width: 78.453px;
    height: 15.432px;
    flex-shrink: 0;
    margin-right: auto;
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
.menu-list {
    list-style-type: none;
    flex-direction: column;
    display: flex;
    row-gap: 12px;
    margin: 0;
    padding: 0;
}
.menu-item {
    color: var(--text-light, #F5F5F5);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.2px; /* 120% */
}
.menu-item :active {
    color: var(--text-light, #F5F5F5);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.2px; /* 120% */
    text-decoration-line: underline;
}
.menu-link {
    color: #F5F5F5;
}
.cover {
    margin-top: 7px;
    background-image: url(../images/cover.svg);
    background-repeat: no-repeat;
    background-size: 340px;
    background-position: right bottom ;
}
.cover-title {
    color: #FFF;
    font-family: EB Garamond;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 72px */
    margin: 0;
    padding: 4px 19px
}
.accent-span {
    display: block;
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.intro {
    margin-top: 28px;
}
.intro-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0 13px;
}
.intro-title {
    color: var(--text-gray, #CCC);
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    width: 212px;
    flex-shrink: 0;
    margin: 0;
}

.intro-date {
    color: var(--text-gray, #CCC);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
}
.intro-main {
    color: #F5F5F5;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 135% */
    width: 360px;
}
.intro-first {
    padding: 22px 17px;
}
.intro-second {
    padding: 1px 19px;
}
.reasons {
    margin-top: 38px;
    display: flex;
    padding: 38px 18px;
    flex-direction: column;
    gap: 30px;
    flex-shrink: 0;
}
.subtitle {
    color: var(--black-bg, #131313);
    font-family: EB Garamond;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%; /* 32.2px */
}
.introduction {
    color: var(--black-bg, #131313);
    font-family: Inter;
    font-size: 21.3px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    width: 320px;
    flex-shrink: 0;
    letter-spacing: 1px;
}
.list-two {
    flex-direction: column;
    display: flex;
    row-gap: 13px;
    padding-left: 18px;
}
.reasons-list-item {
    color: var(--black-bg, #131313);
    font-family: Inter;
    font-size: 18.7px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px;
    flex: 1 0 0;
}
.list-accent {
    color: var(--black-bg, #131313);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
}

.gap {
    white-space: nowrap;
}
.how-to {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 29px;
}
.subtitle-how-to {
    color: #F5F5F5;
    font-family: EB Garamond;
    font-size: 27px;
    font-style: normal;
    width: 320px;
    font-weight: 500;
    padding: 5px 18px;
    line-height: 115%; /* 32.2px */
}
.introduction-how-to {
    color: #F5F5F5;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    width: 360px;
    padding-left: 20px;
}
.cards-list {
    list-style-type: none;
    flex-direction: column;
    display: flex;
    row-gap: 32px;
    align-items: center;
    padding-left: 20px;
    width: 320px;
}
.card-tehm-dark {
    display: flex;
    width: 280px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 30px;
    background: var(--gray-bg, #343434);
}
.card-tehm-bright {
    display: flex;
    width: 280px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 30px;
    background: var(--yellow-bg, #FEE42A);
}
.author {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.author-photo {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.author-name {
    color: #F5F5F5;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%; /* 21.6px */
    width: 200px;
}
.author-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.card-content {
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.card-title {
    color: #F5F5F5;
    font-family: EB Garamond;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%; /* 29.7px */
}
.card-text {
    color: #F5F5F5;
    font-family: Inter;
    font-size: 18.7px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px; /* 135% */
    width: 282px;
}
.card-title-bright {
    flex: 1 0 0;
    color: var(--black-bg, #131313);
    font-family: EB Garamond;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%; /* 29.7px */
    padding: 3px;
}
.card-text-bright {
    color: var(--black-bg, #131313);
    font-family: Inter;
    font-size: 18.6px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px; /* 135% */
    align-self: stretch;
}
.footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    display: flex;
    width: 320px;
    padding: 20px;
    align-items:end;
    border-top: 1px solid var(--yellow-bg, #FEE42A);
}
.footer-copy {
    color: #F5F5F5;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; /* 21.6px */
}
.footer-links {
    display: flex;
    list-style-type: none;
    align-items: flex-start;
    gap: 16px;
    margin-left: auto;
    padding-right: 3px;
}
.link {
    color: #F5F5F5;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 17.5px */
}