.body {
    margin: 0;
    background: var(--black-bg, #131313);
    font-family: "Inter", "EB Garamond", sans-serif;
}
.content-section {
    width: 360px;
    margin: auto;
    box-sizing: border-box;
}
.theme_dark {
    background: var(--black-bg, #131313);
}
.theme_bright {
    background: var(--yellow-bg, #FEE42A);
}
.header {
    display: flex;
    width: 360px;
    height: 132px;
    padding: 24px 20px;
    align-items: flex-start;
    gap: 168px;
    flex-shrink: 0;
}
.logo-image {
    width: 78.453px;
    height: 15.432px;
    flex-shrink: 0;
    margin-right: auto;
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}
.menu-list {
    list-style-type: none;
    flex-direction: column;
    display: flex;
    row-gap: 12px;
}
.menu-item {
    color: var(--text-light, #F5F5F5);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.2px; /* 120% */
}
.menu-item :active {
    color: var(--text-light, #F5F5F5);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.2px; /* 120% */
    text-decoration-line: underline;
}
.menu-link {
    color: #F5F5F5;
}
.cover {
    margin-top: 7px;
    background-image: url(../images/cover.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom ;
}
.cover-title {
    color: #FFF;
    font-family: EB Garamond;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 72px */
}
.accent-span {
    display: block;
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.intro {
    margin-top: 30px;
}
.intro-heading {
    display: flex;
}
.intro-title {
    color: var(--text-gray, #CCC);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    width: 203px;
    flex-shrink: 0;
}
.intro-date {
    color: var(--text-gray, #CCC);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 300%; /* 19.2px */
}
.intro-main {
    color: #F5F5F5;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px; /* 135% */
    width: 320px;
}
.intro-first {
    padding: 24px 0;
}
.reasons {
    margin-top: 38px;
    display: flex;
    padding: 40px 20px;
    flex-direction: column;
    gap: 32px;
    flex-shrink: 0;
}
.subtitle {
    color: var(--black-bg, #131313);
    font-family: EB Garamond;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%; /* 32.2px */
}
.introduction {
    color: var(--black-bg, #131313);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 135% */
    width: 320px;
    height: 297px;
    flex-shrink: 0;
}
.list-two {
    flex-direction: column;
    display: flex;
    row-gap: 16px;
}
.reasons-list-item {
    color: var(--black-bg, #131313);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px;
    flex: 1 0 0;
}
.gap {
    white-space: nowrap;
}
.list-accent {
    color: var(--black-bg, #131313);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%; 
}
.how-to {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}
.subtitle-how-to {
    color: #F5F5F5;
    font-family: EB Garamond;
    font-size: 28px;
    font-style: normal;
    width: 320px;
    font-weight: 500;
    line-height: 115%; /* 32.2px */
}
.introduction-how-to {
    color: #F5F5F5;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; /* 27px */
    width: 320px;
}
.cards-list {
    list-style-type: none;
    flex-direction: column;
    display: flex;
    row-gap: 32px;
    align-items: center;

}
.card-tehm_dark {
    display: flex;
    width: 319px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 30px;
    background: var(--gray-bg, #343434);
}
.card-tehm_bright {
    display: flex;
    width: 319px;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    border-radius: 30px;
    background: var(--yellow-bg, #FEE42A);
    colo: var(--black-bg, #131313);
}
.author {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.author-photo {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.author-name {
    color: #F5F5F5;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%; /* 21.6px */
    width: 163px;
    height: 20px;
}
.author-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
.card-title {
    color: #F5F5F5;
    font-family: EB Garamond;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%; /* 29.7px */
    height: 29px;
}
.card-text {
    color: #F5F5F5;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px; /* 135% */
    width: 279px;
    height: 282px;
}
.card_title {
    height: 59px;
    flex: 1 0 0;
    color: var(--black-bg, #131313);
    font-family: EB Garamond;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%; /* 29.7px */
}
.card_text {
    color: var(--black-bg, #131313);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px; /* 135% */
    align-self: stretch;
}
.footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    display: flex;
    width: 360px;
    padding: 20px;
    align-items:end;
    border-top: 1px solid var(--yellow-bg, #FEE42A);
}
.footer-copy {
    color: #F5F5F5;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; /* 21.6px */
}
.footer-links {
    display: flex;
    list-style-type: none;
    align-items: flex-start;
    gap: 16px;
    margin-left: auto;
}
.link {
    color: #F5F5F5;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 17.5px */
}